<div class="col-xs-12">
	<h2 class="test number"><span>{{model.id}}</span></h2>
</div>
<div class="col-xs-12 hero-container">
	<section class="text-center">
	<h3 style="text-transform:uppercase;font-weight:bold;line-height:40px;">
		{{model.text}}
	</h3>
	<div class="col-xs-12" style="margin-top:20px">
		{{#each answer in model.answers}}
		{{#if answer.img}}
			<img {{action 'answerQuestion' answer.type }} {{bind-attr src=answer.img}} class="image-responsive text-center">
		{{else}}
		<div {{action 'answerQuestion' answer.type }} class="col-xs-6 answerBox">
			<p>{{answer.text}}</p>
		</div>
		{{/if}}
		{{/each}}
	</div>
	</section>
</div>